#sidebar{ 
  width: 200px;
  float: left;
}

#sidebar h2 { 
  font-size: 1.0em;
  margin-left: 1.0em;
}

#main{
  margin-left: 200px;
  background: #fff;
}

#container {
  width: 600px;
  margin: 30px auto 0 auto;
  text-align: left;
  font-size: 0.8em;
}

#description {
  background: #EEE;
  padding: 0.8em;
  margin-bottom: 2em;
}

#sitelogo {
  margin-left: 1em;
}