body {
	margin: 0px;
	padding: 12px;
	font-size: small;
}

form {
	margin: 0px;
}

#sitelogo{
  margin-bottom: 24px;
}

#sidebar{ 
  width: 200px;
  float: left;
}

#sidebar h2 { 
  font-size: 1.0em;
  margin-left: 1.0em;
}

#main{
  margin-left: 200px;
  margin-top: 12px;
  background: #fff;
}

#container {
  width: 600px;
  text-align: left;
  font-size: 0.8em;
}

#description {
  background: #EEE;
  padding: 12px;
  margin-bottom: 2em;
}

#sitelogo {
  margin-left: 1em;
}

#tools {
	padding: 12px;
	border: 1px solid #999999;
	margin-bottom: 24px;
}

#tools input {
	font-size: x-small;
}


/* generic form */
#genericForm {
	margin:12px;
	width: 95%;
	text-align:right;
}

#genericForm #bodyText {
	padding-bottom: 24px;
}

#genericForm #bodyText textarea {
	width: 100%;
}

#genericForm .label {
	float:left;
	font-size: small;
	font-weight: bold;
}

#genericForm .controlForm {
	margin-top: 30px;
	padding-top: 6px;
	border-top: 1px solid #999999;
}
