<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/css" />

<link rel="index" href="./index" />
<link rel="stylesheet" type="text/css" href="<%= @config["static_prefix"] %>/css/site.css" />

<title>title</title>
</head>
<body>

<div id="genericForm">

<%- if @item.text_editable -%>
<div id="bodyText">
<% form_tag({:action => 'save'}, {:name=>'simpleEditor'}) do %>
  <%= text_area :form, :body, :size=> "80x20" %>
  <%= hidden_field_tag "path",  params[:path] %>
  <div class="submit"><%= submit_tag 'Save this text' %></div>
<% end %>
</div>
<%- end -%>


<div class="controlForm">
<div class="label">Rename this file to:</div>
<% form_tag({:action => "rename"}, {:target => "_parent"}) do %>
  <%= hidden_field_tag "path",  params[:path] %>
  <%= text_field :form, :file_name, :size=> 50 %> <%= submit_tag 'Rename' %>
<% end %>
</div>

<div class="controlForm">
<div class="label">Replace this file with:</div>
<% form_tag({:action => "upload"}, {:multipart => true, :target=>"_parent"}) do %>
  <%= hidden_field_tag "path", params[:path] %>
  <%= file_field_tag "upload_file", :size=>50 %>
  <%= submit_tag  "Replace" %>
<% end %>
</div>


<div class="controlForm">
<div class="label">Delete this file:</div>
<% form_tag({:action => "delete"}, {:target => "_parent"}) do %>
  <%= hidden_field_tag "path",  params[:path] %>
  <%= submit_tag  "Delete", :onclick => "return #{confirm_javascript_function("このファイルを削除します。よろしいですか？") }" %>
<% end %>
</div>

<%- if @item.type == :image -%>
<div class="imagePreview">
<img src="<%= @item.uri %>?<%= Time.now.tv_sec %>">
</div>
<%- end -%>


</div>

</body>
</html>
