<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="content-style-type" content="text/css" />

<link rel="index" href="./index" />
<link rel="stylesheet" type="text/css" href="<%= @config["static_prefix"] %>/css/site.css" />

<title>title</title>

</head>

<body>

<table border="0">
<tbody>
<tr><td rowspan="2">
<div style="margin-right:15px">
<%- if @item.type == :image -%>
<img width="32" height="32" src="<%= @item.uri %>?<%= Time.now.tv_sec %>">
<%- elsif @item.type == :directory -%>
<img width="32" height="32" src="<%= @config["static_prefix"] %>/images/browser/directory.png">
<%- elsif @item.type == :dirsmc -%>
<img width="32" height="32" src="<%= @config["static_prefix"] %>/images/browser/dirsmc.png">
<%- elsif @item.type == :smc -%>
<img width="32" height="32" src="<%= @config["static_prefix"] %>/images/browser/smc.png">
<%- elsif @item.type == :file -%>
<img width="32" height="32" src="<%= @config["static_prefix"] %>/images/browser/file.png">
<%- end -%>
</div>
</td>
<td>
<%= link_to "(root)", { :action => :main }, { :target => "_parent" } %>

<%-
buf = ""
params['path'].to_s.split("/").each do |p| 
  buf += "/" if buf != ""
  buf += p
-%>
/ <a href="<%= url_for :action => :main, :path => buf %>" target="_parent"><%=h p %></a>
<%- end -%>

<%= link_to "#", { :action => :index, :path => params["path"] }, { :target => "_blank" } %>
</td>
</tr>
<tr>
<td>
[
<%= link_to("View", { :action => "view", :path => params["path"] }, :target=> "view") %>
<% if @item.type != :directory && !@prohibit_editing %>
| <%= link_to("Edit", { :action => "form", :path => params["path"] }, :target=> "view") %>
<% end %>
<% if ! @item.output.nil? %>
| <%= link_to("View Output", { :action => "main", :path => @item.output }, :target=> "main") %>
<% end %>
<% if @item.type == :smc || @item.type == :directory %>
| <%= link_to("Publish", { :action => "publish", :path => params["path"] }, :target=> "main") %>
<% elsif ! @item.smc.nil? %>
| <%= link_to("Source", { :action => "main", :path => @item.smc }, :target=> "main") %>
<% end %>
| <a href="<%= @config['trac_revlog_uri'] %>/<%=h params['path'] %>" target="view">History</a> 
]
</td>
</tr>
</tbody>
</table>

</body>

</html>
