<form method="post" action="<%= @config["uri_prefix"] %>/editor/save_or_delete" name="smcForm" onsubmit="setFilename();">
<%- @fields.each do |f| -%>
<%- if f.typ == "hidden" -%>
<%= hidden_field "form", "field_" + f.name %>
<%- end -%>
<%- end -%>

<div style="float:right"><a href="<%= @config["uri_prefix"] %>/editor/index">[ 新規作成 ]</a></div>

<table>

<%- if filename_override? -%>
<%= hidden_field_tag "target", @target %>
<%- else -%>
<tr>
<td>File</td>
<td><%= text_field_tag "target", @target, :size=>60 %></td>
</tr>
<%- end -%>
<%- unless @is_new -%>
<%= hidden_field_tag "target_original", @target %>
<%- end -%>

<%- 
@fields.each do |f|
    next if f.typ == "hidden"
-%>
<tr>
<td nowrap="yes"><%=h f.label %>&nbsp;&nbsp;</td>
<td>

<%- if f.typ == "text" -%>

  <%= text_field "form", "field_" + f.name, f.options.nil? ? {:size => 60 } : f.options %>

<%- elsif f.typ == "textarea" -%>

  <%= text_area "form", "field_" + f.name, f.options.nil? ? {:size => "60x20"} : f.options %>

<%- elsif f.typ == "tinymce" -%>

  <%= text_area "form", "field_" + f.name, (f.options.nil? ? {:size => "60x20"} : f.options.dup).merge({:class => "tinymce_#{f.name}"}) %>

<%- elsif f.typ == "array" -%>

  <%= text_area "form", "field_" + f.name, f.options.nil? ? {:size => "60x20"} : f.options %>

<%- elsif f.typ == "date" -%>

  <%= text_field "form", "field_" + f.name, f.options.nil? ? {:size => 20 } : f.options %>
  <a href="javascript:SmcDateField.inputNow('form_field_<%= f.name %>', '<%= f.options["format"] %>')">Now</span>
  <script type="text/javascript">
  InputCalendar.createOnLoaded(
    "form_field_<%= f.name %>",
	{
		format: "<%= f.options["format"] %>"
		<% if f.options["format"] =~ /H/i %>
		, enableHourMinute: true
		<% end %>
		<% if f.options["format"] =~ /s/i %>
		, enableSecond: true
		<% end %>
	}
  );
  
  </script>

<%- end -%>

</td>
</tr>
<%- end -%>

<tr>
<td colspan="2" align="right">
<%= submit_tag "削除", :onclick => "return #{confirm_javascript_function("削除します。よろしいですか？") }", :name => "submit" %>
<%= submit_tag "保存", :name => "submit", :style => "width:100px; margin-left: 12px;" %>
</td>
</tr>

</table>

</form>

<%- if filename_override? -%>
<script type="text/javascript">
<% if "date" == @config["filename_override"]["type"] %>
function setFilename() {
  var target = document.smcForm.target;
  var input = $("form_field_<%= @config["filename_override"]["name"] %>");
  if (input.value == null) {
    return;
  }
  var df = new SimpleDateFormat("<%= @config["filename_override"]["input_pattern"] %>");
  var date = df.parse(input.value);
  var df2 = new SimpleDateFormat("<%= @config["filename_override"]["output_pattern"] %>")
  target.value = df2.format(date);
}
<% end %>
</script>
<%- end -%>
