<form method="post" action="<%= @config["uri_prefix"] %>/editor/save_or_delete" name="smcForm" onsubmit="setFilename();">
<%- @fields.each do |f| -%>
<%- if f.field_type == "hidden" -%>
<%= hidden_field "form", f.html_input_name %>
<%- end -%>
<%- end -%>

<div style="float:right"><a href="<%= @config["uri_prefix"] %>/editor/index">[ 新規作成 ]</a></div>

<table>

<%- unless @is_new -%>
<%= hidden_field_tag "target_original", @target %>
<%- end -%>

<%- 
@fields.each do |f|
    next if f.field_type == "hidden"
    fname = f.html_input_name
    
-%>
<tr>
<td nowrap="yes"><%=h f.label %>&nbsp;&nbsp;</td>
<td>

<%- if f.field_type == "text" -%>

  <%= text_field "form", fname, f.options.nil? ? {:size => 60 } : f.options %>

<%- elsif f.field_type == "checkbox" -%>

  <%= check_box "form", fname, f.options.nil? ? {} : f.options %>

<%- elsif f.field_type == "textarea" -%>

  <%= text_area "form", fname, f.options.nil? ? {:size => "60x20"} : f.options %>

<%- elsif f.field_type == "tinymce" -%>

  <%= text_area "form", fname, (f.options.nil? ? {:size => "60x20"} : f.options.dup).merge({:class => "tinymce_#{f.name}"}) %>

<%- elsif f.field_type == "array" -%>

  <%= text_area "form", fname, f.options.nil? ? {:size => "60x20"} : f.options %>

<%- elsif f.field_type == "date" -%>

  <%= text_field "form", fname, f.options.nil? ? {:size => 20 } : f.options %>
  <a href="javascript:SmcDateField.inputNow('form_<%= f.html_input_name %>', '<%= f.options["format"] %>')">Now</span>
  <script type="text/javascript">
  InputCalendar.createOnLoaded(
    "form_<%= f.html_input_name %>",
	{
		format: "<%= f.options["format"] %>"
		<% if f.options["format"] =~ /H/i %>
		, enableHourMinute: true
		<% end %>
		<% if f.options["format"] =~ /s/i %>
		, enableSecond: true
		<% end %>
	}
  );
  
  </script>

<%- end -%>

</td>
</tr>
<%- end -%>

<tr>
<td colspan="2" align="right">
<%= submit_tag "削除", :onclick => "return #{confirm_javascript_function("削除します。よろしいですか？") }", :name => "submit" %>
<%= submit_tag "保存", :name => "submit", :style => "width:100px; margin-left: 12px;" %>
</td>
</tr>

</table>

</form>
