<%= javascript_include_tag :defaults %>
<%- if contains_typ("tinymce") -%>
<script language="javascript" type="text/javascript" src="<%= @config["static_prefix"] %>/js/tiny_mce/tiny_mce.js"></script>
<%- @fields.each do |f| -%>
<script language="javascript" type="text/javascript">
tinyMCE.init({
	mode : "textareas",
	editor_selector : "tinymce_<%= f.name %>",
	<%- if f.options["content_css"] -%>
    content_css : "<%= f.options["content_css"] %>",
	<%- else -%>
    content_css : "<%= @config["static_prefix"] %>/css/tiny_mce.css",
	<%- end -%>
    theme : "advanced",
    theme_advanced_resizing : true,
	theme_advanced_resize_horizontal : true,
    theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom"
});
</script>
<%- end -%>
<%- end -%>

<%- if contains_typ("date") -%>
<script type="text/javascript" src="<%= @config["static_prefix"] %>/js/editor/protocalendar.js"></script>
<link rel="stylesheet" type="text/css" href="<%= @config["static_prefix"] %>/css/simple.css" />
<%- end -%>

<%- if filename_override? -%>
<script type="text/javascript" src="<%= @config["static_prefix"] %>/js/editor/dateformat.js"></script>
<%- end -%>