<script language="javascript" type="text/javascript" src="<%= @config["static_prefix"] %>/js/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript">
<%- @fields.each do |f| -%>
<%- if f.typ == "tinymce" -%>
tinyMCE.init({
	mode : "textareas",
	editor_selector : "tinymce_<%= f.name %>",
	<%- if f.options["content_css"] -%>
    content_css : "<%= f.options["content_css"] %>",
	<%- else -%>
    content_css : "<%= @config["static_prefix"] %>/css/tiny_mce.css",
	<%- end -%>
    theme : "advanced",
    theme_advanced_resizing : true,
	theme_advanced_resize_horizontal : true,
    theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom"
});
<%- end -%>
<%- end -%>
</script>
