<%= render(:partial => "javascript", :object=>@config) %>

<%= render_part("logo") %>

<div id="sidebar">
<%= render_part("command") %>
</div>

<div id="main">
<div id="container">
<%= render_part("description") %>

<%= render_part("editform") %>
<hr />
<%= render_part("filelist") %>
</div>
</div>