<%= render(:partial => "javascript", :object=>@config) %>

<%= render_part("logo") %>

<div id="sidebar">
<%= render_part("command") %>
</div>

<div id="main">
<div id="container">

<div id="description">
<%= render :inline => @config["description"] %>
</div>

<%= render_part("editform") %>

<%= render_part("filelist") %>
</div>
</div>