<div class="sidebar">
<ul>
<li><%= link_to "Create new file", :controller => :editor, :action => :index %></a></li>
<%- @files.reverse.each do |f| -%>
<li><%= link_to f.basename, :controller => :editor, :action => :index, :target => f.basename %></li>
<%- end -%>
</ul>
</div>

<div class="main">
<form method="post" action="<%= @config["uri_prefix"] %>/editor/save">
<%- @fields.values.each do |f| -%>
<%- if f.typ == "hidden" -%>
<%= hidden_field "form", f.name, :value => f.value %>
<%- end -%>
<%- end -%>
<table>
<tr>
<td>File</td>
<td><%= text_field_tag "target", @target, :size=>60 %></td>
</tr>

<%- 
@fields.ordered_keys.each do |k|
    f = @fields[k]
    next if f.typ == "hidden"
-%>
<tr>
<td><%=h f.label %></td>
<td>

<%- if f.typ == "text" -%>
<%= text_field "form", "field_" + f.name, f.options.nil? ? {:size => 60 } : f.options %>
<%- elsif f.typ == "textarea" -%>

<%= text_area "form", "field_" + f.name, f.options.nil? ? {:size => "60x20"} : f.options %>
<%- end -%>
</td>
</tr>
<%- end -%>

<tr>
<td colspan="2"><input type="submit" value="Save" /></td>
</tr>

</table>

</div>